<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left"> Categories </div>
</div>-->
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addCategory"
                    (click)="clearModal();">Add</button>
                <!--<input class="customSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
            <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" style="width: 102%;margin: 0.6% 0 0 -1%;">
                    <li class="nav-item" style="margin-left: 1%;">
                        <a class="nav-link active" data-toggle="tab" href="#activeCategory" (click)="gotoGetData()">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#deactiveCategory" (click)="gotoGetDeAciveData()">De-Active</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content" style="border: white;">
            <div class="tab-pane fade in active col-sm-12 " id="activeCategory">
                <div class="table-block card-block widget-body">
                    <div class="container-fluid pl-0 pr-0">
                        <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                            <div class="panel panel-default">
                                <table class="table">
                                    <thead class="thead">
                                        <tr>
                                            <th style="width: 6%;text-align: center">#</th>
                                            <th style="width: 22%;text-align: center">
                                                Image
                                            </th>
                                            <th style="width: 44%;text-align: center">
                                                Title
                                            </th>
                                            <th style="width: 14%;text-align: center">Re-order</th>
                                            <th style="width: 15%;text-align: center">
                                                Sub-category Count
                                            </th>
                                            <th style="width: 15%;text-align: center">
                                                Field Count
                                            </th>
                                            <th style="width: 17%;text-align: center" class="thAction">
                                                Action
                                            </th>
                                        </tr>
                                        <tr>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="msg">
                                            <td colspan="10" style="text-align: center">No Data Found</td>
                                        </tr>
                                        <tr *ngFor="let cat of category | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                            <td>{{i+1}}</td>
                                            <td>
                                                <img src={{cat.activeimage}} alt="500*500" style="width: 30%;" class="img-responsive">
                                            </td>
                                            <td>
                                                {{cat.name}}
                                            </td>
                                            <td>
                                                <div class="btn-hover" *ngIf="i == 0">
                                                    <button class="button-cust" style="padding-left: 0px;padding-right: 0px;" type="button" disabled>
                                                        <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                    </button>
                                                </div>
                                                <div class="btn-hover" *ngIf="i != 0">
                                                    <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;" type="button" (click)="gotoUpArrow(i)">
                                                        <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                    </button>
                                                </div>
                                                <div class="btn-hover" *ngIf="i == category.length - 1">
                                                    <button class="button-cust" style="padding-left: 0px;padding-right: 0px;" type="button" disabled>
                                                        <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                    </button>
                                                </div>
                                                <div class="btn-hover" *ngIf="i != category.length - 1">
                                                    <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;" type="button" (click)="gotoDownArrow(i)">
                                                        <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoSubcate(cat.name)">{{cat.subCategoryCount}}</button>
                                            </td>
                                            <td>
                                                <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoFilterPage(cat.name)">{{cat.filterCount}}</button>
                                            </td>
                                            <td id="test">
                                                <div class="btn-hover" *ngIf="btnFlag">
                                                    <button data-toggle="modal" class="btn btn-danger btn-xs" id="dltBTN" (click)="gotoDeleteCategory(cat)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </div>

                                                <div class="btn-hover" *ngIf="btnFlag">
                                                    <button data-toggle="modal" data-target="#editCategory" class="btn btn-primary btn-xs" (click)="editCategoryData(cat)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="100">
                                                <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade col-sm-12 tableCnt" id="deactiveCategory">
                <div class="table-block card-block widget-body">
                    <div class="container-fluid pl-0 pr-0">
                        <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                            <div class="panel panel-default">
                                <table class="table">
                                    <thead class="thead">
                                        <tr>
                                            <th style="width: 6%;text-align: center">#</th>
                                            <th style="width: 22%;text-align: center">
                                                Image
                                            </th>
                                            <th style="width: 44%;text-align: center" class="thTitle">
                                                Title
                                            </th>
                                            <th style="width: 15%;text-align: center" class="thTitle">
                                                Sub-category Count
                                            </th>
                                            <th style="width: 15%;text-align: center" class="thTitle">
                                                Field Count
                                            </th>
                                            <th style="width: 17%;text-align: center" class="thAction">
                                                Action
                                            </th>
                                        </tr>
                                        <tr>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="msgDe">
                                            <td colspan="10" style="text-align: center">No data found</td>
                                        </tr>
                                        <tr *ngFor="let cat of deActiveCat | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                            <td>{{i+1}}</td>
                                            <td>
                                                <img src={{cat.activeimage}} alt="500*500" style="width: 30%;" class="img-responsive">
                                            </td>
                                            <td>
                                                {{cat.name}}
                                            </td>
                                            <td>{{cat.subCategoryCount}}</td>
                                            <td>{{cat.filterCount}}</td>
                                            <td id="test">
                                                <div class="btn-hover" *ngIf="btnFlag">
                                                    <button title="Click to active category" class="btn btn-primary btn-xs" (click)="gotoActiveCategory(cat.name)">
                                                        <span class="glyphicon glyphicon-repeat"></span>
                                                    </button>
                                                </div>
                                                <div class="btn-hover" *ngIf="btnFlag">
                                                    <button data-toggle="modal" class="btn btn-danger btn-xs" id="dltBTN" (click)="gotoDeActiveCategories(cat)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="100">
                                                <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addCategory" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -58px;">
            <div class="modal-header text-transform">
                Add category
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addCategory" (ngSubmit)="submitForm(addCategory)">
                <div class="modal-body">
                    <div class="col-8 offset-2" style="margin-bottom: 3%;">
                        <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="form-group col-xs-12" style="margin-bottom: 0px;">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8 offset-2">
                                <div *ngIf="Amsg" class="alert alert-danger">
                                    Please Select Image
                                </div>

                                <div class="form-group col-xs-12">
                                    <div class="image-wrapper" style="text-align: center;">
                                        <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                                        <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                                        <img src="assets/img/app/no-image.png" *ngIf="!Aimage" width="100%" style="height: 65px;width: 29%;">
                                    </div>
                                    <input type="file" (change)="AfileChange(input)" #input class="img-upload-btn" />

                                    <button class="btn btn-main btn-block" type="button">
                                        <span *ngIf="!Aimage">
                                            <i class="fa fa-upload"></i> Select Image... </span>
                                        <span *ngIf="Aimage">
                                            <i class="fa fa-refresh"></i> Change Image... </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div style="text-align: center;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is maximum 600*600</mark>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Category Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Category" [formControl]="addCategory.controls['categoryName']"
                                [ngModel]="addCategory.categoryName">
                            <div *ngIf="addCategory.controls['categoryName'].errors && (addCategory.controls['categoryName'].dirty || addCategory.controls['categoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addCategory.controls['categoryName'].errors.required">
                                    Category Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12" *ngFor="let dd of langData">
                        <label for="input-2" class="col-xs-3">Category({{dd.langaugeName}})</label>
                        <div class="col-xs-9">
                            <input type="text" [ngClass]="'cat'+dd.langId" class="form-control checking-field" placeholder="Enter Category in {{dd.langaugeName}}"
                                required>
                            <!-- <div *ngIf="addCategory.controls['categoryName'].errors && (addCategory.controls['categoryName'].dirty || addCategory.controls['categoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addCategory.controls['categoryName'].errors.required">
                                    Category Name is required
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary" [disabled]="!addCategory.valid">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editCategory" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -58px;">
            <div class="modal-header text-transform">
                Edit category
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editCategory" (ngSubmit)="updatecategory(editCategory)">
                <div class="modal-body">

                    <div class="col-8 offset-2" style="margin-bottom: 3%;">
                        <div id="eupImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="form-group col-xs-12">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8 offset-2">
                                <div *ngIf="Amsg" class="alert alert-danger">
                                    Please Select Image
                                </div>
                                <div class="image-wrapper" style="text-align: center;">
                                    <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                                    <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!Aimage" width="100%" style="height: 65px;width: 29%;">
                                </div>
                                <input type="file" (change)="AfileChange(Ainput)" #Ainput class="img-upload-btn" />

                                <button class="btn btn-main btn-block" type="button">
                                    <span *ngIf="!Aimage">
                                        <i class="fa fa-upload"></i> Select Image... </span>
                                    <span *ngIf="Aimage">
                                        <i class="fa fa-refresh"></i> Change Image... </span>
                                </button>
                                <div class="col-xs-2"></div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is maximum 600*600</mark>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-lg-3">Category Name</label>
                        <div class="col-lg-9">
                            <input type="text" id="newName" class="form-control checking-field" placeholder="Enter Category" [formControl]="editCategory.controls['categoryName']"
                                [ngModel]="o">
                            <div *ngIf="editCategory.controls['categoryName'].errors && (editCategory.controls['categoryName'].dirty || editCategory.controls['categoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCategory.controls['categoryName'].errors.required">
                                    Category Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3">Category({{dd.langaugeName}})</label>
                        <div class="col-lg-9">
                            <input type="text" [ngClass]="'editCat'+dd.langId" class="form-control checking-field xyz" placeholder="Enter Category in {{dd.langaugeName}}"
                                required>
                            <!-- <div *ngIf="editCategory.controls['categoryName'].errors && (editCategory.controls['categoryName'].dirty || editCategory.controls['categoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCategory.controls['categoryName'].errors.required">
                                    Category Name is required
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!editCategory.valid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>