.btn-hover
{
    display:inline-block;
    border:0;
    // width:196px;
    // height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.zeroPadding{
    padding: 0px !important;
}
.buttonCus{
    // margin-left: 26%;
    float: right;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 21px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
}
.btn-hover:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    text-align:center;
}


.m-img-upload-btn{
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0;
}
.images-container{
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: rgb(241, 241, 241);
    min-height: 165px;
    padding: 10px;
    display: block;
    .m-image-wrapper{
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 120px;
        height: 120px;
        .m-delete-img{
            position: absolute;
            top: 8px;
            right: 10px;
            border: 2px solid #fff;
            color: #fff;
            padding: 3px 5px;
            border-radius: 50%;
            visibility: hidden;
            cursor: pointer;
        }
        &:hover .m-delete-img{
            visibility: visible;
        }
        img{
           width: 120px;
           height: 120px;          
        }
    }   
}

.img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 89px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}